<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RxImagePicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D531D85C1F32E39500E7A84C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D531D8731F32E39500E7A84C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D531D87E1F32E39600E7A84C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
