<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RxTableViewPartialUpdates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5F0B9931F3581A900E109E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F0B9AA1F3581A900E109E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F0B9B51F3581A900E109E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
