<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RxPickerViewCustom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5838C7A1F33D5FC0076B5BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5838C911F33D5FC0076B5BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5838C9C1F33D5FC0076B5BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
