<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RxCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D53F89711F3277AE001DE6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D53F89881F3277AE001DE6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D53F89931F3277AE001DE6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
